<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="products" class="panel">
	<div class="panel-heading">
		<div th:insert="fragments/products-navigation :: products-navigation"></div>
	</div>
	<div class="panel-body">
		<ul class="list img-list">		
			<li th:each = "product : ${responseEntity.products}">
				 <a href="#" class="inner">
			      <div class="li-img">
			        <img th:src="${product.PROD_IMAGE_1}" alt="Hot air balloons" />
			      </div>
			      <div class="li-text">
			        <h3 th:text = "${product.PROD_NAME}" class="li-head"></h3>
			        <div class="li-sub">
			          <p th:text = "${product.PROD_DESC}"></p>
			        </div>
			      </div>
			    </a>
			</li>
			</ul>
	</div>
	<div class="panel-footer">
		<div th:replace="fragments/products-navigation :: products-navigation"></div>
	</div>
</div>

</body>
</html>